# Xcode
build/ApigeeiOSSDK.build
build/Debug-iphoneos/
build/Debug-iphonesimulator/
build/Release-iphoneos/
build/Release-iphonesimulator/
build/dist/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
.DS_Store
zips/*
*.xcodeproj/xcuserdata
*.xcodeproj/project.xcworkspace
*.xcodeproj/project.xcworkspace/xcuserdata
build.output
pkg/*
DerivedData
